---
// packages & libraries
import Icon from "astro-icon";
// layouts & components
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Button from "../components/Button.astro";
// data import
import { rating, features, testimonials } from "../data";
---

<Layout title="Fiber • Create your portfolio in minutes">
  <header class="bg-neutral-200 pb-[10.5rem] mb-20">
    <div class="container mx-auto px-18 py-10">
      <Navbar />
    </div>
    <section
      id="heroSection"
      aria-labelledby="pageTitle"
      class="container mx-auto px-18 flex justify-between items-center"
    >
      <div>
        <div class="flex items-center gap-2 mb-4">
          <span class="flex gap-2">
            {
              "⭐"
                .repeat(Math.round(rating.rate))
                .split("")
                .map((s) => <Icon name="star" size={18} />)
            }
          </span>
          <span>Rated {rating.rate}/5 ({rating.reviews} reviews)</span>
        </div>
        <h1
          id="pageTitle"
          class="text-[3.5rem] leading-[4.5rem] text-neutral-900 font-bold mb-2 md:w-[16ch]"
        >
          Create your portfolio in minutes.
        </h1>
        <p class="mb-6 max-w-[58ch]">
          With Fiber, you can setup your own personal portfolio in minutes with
          dozens of premade, beautiful templates.
        </p>
        <div class="mb-9">
          <Button content="Start Free Trial" />
          <a
            href="/"
            class="text-primary-400 hover:text-primary-500 font-bold ml-10 underline"
          >
            View Examples
          </a>
        </div>
        <ul class="flex items-center gap-6">
          <li class="flex items-center gap-4">
            <Icon name="checkmark" size={24} />
             Credit Card Required
          </li>
          <li class="flex items-center gap-4">
            <Icon name="checkmark" size={24} />
             10 Free Templates
          </li>
        </ul>
      </div>
      <div class="max-w-xl flex justify-center items-center">
        <img
          src="/assets/hero-Illustration.png"
          alt="Developer Build Site with Augmented Reality"
        />
      </div>
    </section>
  </header>
  <main>
    <section id="features" class="container mx-auto px-18">
      <h2 class="text-primary-400 font-bold mb-6">Why Fiber?</h2>
      <p class="text-4xl text-neutral-900 font-bold max-w-[28ch] mb-12">
        A good portfolio means good employability.
      </p>
      <div class="flex gap-4 mb-20">
        {
          features.map((feature) => (
            <div class="grid gap-4">
              <Icon name={feature.icon} size={40} />
              <h3 class="text-xl text-neutral-900 font-bold">{feature.name}</h3>
              <p>{feature.description}</p>
            </div>
          ))
        }
      </div>
      <!-- Call To Action -->
      <div
        class="bg-primary-400 rounded-xl text-neutral-100 grid grid-cols-2 place-items-center mb-20"
      >
        <div class="grid gap-4 p-12">
          <h2 class="text-4xl font-bold">Diversify your portfolio.</h2>
          <p>
            Create an even more impressive portfolio by creating case studies
            for your projects. Simply follow our step-by-step guide.
          </p>
          <div class="grid md:block">
            <Button content="Start Free Trial" type="neutral" />
          </div>
        </div>
        <div class="pt-12 pr-12">
          <img src="/assets/page-snapshot.png" alt="" />
        </div>
      </div>
    </section>
    <section id="testimonial" class="container mx-auto px-18">
      <div class="flex gap-6 mb-20">
        {
          testimonials.map((item) => (
            <div class="grid gap-6 p-6 border border-neutral-400 rounded-xl text-base">
              <div class="flex gap-4">
                <img src={item.profileImage} alt="" />
                <div class="flex-1 text-[15px]">
                  <p class="text-primary-400 font-bold">{item.username}</p>
                  <p>{item.revenue} in revenue</p>
                </div>
              </div>
              <p>{item.text}</p>
              <div class="grid text-lg">
                <Button
                  content={`View ${item.username.split(" ")[0]}'s Profile`}
                  type="neutral"
                />
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
